/* page.module.css */
.main {
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search{
  background-color: aliceblue;
}
.header {
  margin-top: 20px;
}

.linkButton {
  margin: 10px;
}

.list {
  margin-top: 20px;
}

.listItem {
  border-bottom: 1px solid #ccc;
}
